<div class="container">
  <h2>Lagg till stugby</h2>
  <form action="/new_village" method="post" role="form" >
  <form role="form">
    <div class="form-group">
      <label for="village">Stugbyns name:</label>
      <input type="text" class="form-control" id="village" placeholder="Stugbyns namn" name="village" required>
    </div>
      <input action="action" type="button" class="btn btn-md btn-warning" value="Avbryt" onclick="history.go(-1);">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
