<div class="container">
  <h1>Admin</h1>
  <a href="/" class="btn btn-lg btn-warning" role="button">Tillbaka</a>
  <a href="/add_unit" class="btn btn-info btn-lg">L&auml;gg till stuga</a>
  <a href="/add_village" class="btn btn-info btn-lg">L&auml;gg till by</a> 
  <a href="/delete_unit" class="btn btn-danger btn-lg">Ta bort stuga</a> 
</div>
