<form action="/new" method="post">
  Start:<br>
  <input type="date" name="start" required>
  <br>
  Stop:<br>
  <input type="date" name="stop" required>
  <br>
  Title:<br>
  <input type="text" name="title" required>
  <br>
  Unit:<br>
  <input type="text" name="unit" required>
  <br>
  <input type="submit">
</form>
