<div class="container">
  <h2>Skapa schema for <%= @unit %></h2>
  <form action="/new" method="post" role="form" >
    <div class="form-group">
      <label for="datetimepicker1">Start:</label>
      <div class="row">
        <div class='col-xs-8'>
          <input type='text' class="form-control" id='datetimepicker1' name='start' required />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="datetimepicker2">Stop:</label>
      <div class="row">
        <div class='col-xs-8'>
          <input type='text' class="form-control" id='datetimepicker2' name='stop' required />
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker1').datetimepicker({
           sideBySide: true,
           calendarWeeks: true,
           locale: 'sv',
        });
        $('#datetimepicker2').datetimepicker({
           sideBySide: true,
           calendarWeeks: true,
           locale: 'sv',
        });
      });
    </script>
    <% @rooms.each do |room| %>
      <div class="checkbox">
        <label><input type="checkbox" name="room[]" value="<%= room.room %>" >Rum <%= room.room %></label>
      </div>
    <% end %>
    <input type="hidden" value="<%= @unit %>" name="unit" />
    <input type="submit" class="btn btn-md btn-info" value="Spara">
    <input action="action" type="button" class="btn btn-md btn-warning" value="Avbryt" onclick="history.go(-1);">
  </form>
</div>
<script>

