<div class="container">
  <div class="jumbotron">
    <h1>Verifiera Radering</h1>      
    <p>Verifiera att du vill radera schemat</p>
    <a href="/delete/schedules/<%= @schedules.id %>/ConfirmedDelete/<%= @schedules.unit_id %>" class="btn btn-danger" role="button">RADERA</a>
    <input action="action" type="button" class="btn btn-md btn-warning" value="Tillbaka" onclick="history.go(-1);">
  </div>
</div>
