<div class="container">
  <div class="jumbotron">
    <h1>Verifiera Radering</h1>      
    <p>Verifiera att du vill radera stugan <%= @unit.unit %></p>
    <input action="action" type="button" class="btn btn-md btn-warning" value="Tillbaka" onclick="history.go(-1);">
    <a href="/delete_confirmed/unit/<%= @unit.id %>" class="btn btn-danger" role="button">RADERA</a>
  </div>
</div>
